#root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;   
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-align: center;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #F1FFFA;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
}

.Link {
  text-decoration: none;
}

/*Navbar*/
.navbar{
  background-color: black;
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
#navbarNav{
  justify-content: end;
} 
.nav-link{
  color: #F1FFFA;
  margin-right: 45px;
  cursor: pointer;
}
.logo{
  width: 50px;
}
.cartContainer {
  position: relative;
  display: inline-block;
}
.cartLogo {
  position: absolute;
  width: 35px;
  height: 35px;
  transform: translate(0px, -10px);
}
.contador {
  color: #28587B;
  position: absolute;
  font-size: 15px;
  transform: translate(13px, 1px);
}

/*Home*/
.homePage{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.fondoHome{
  min-width: 100%;
  height: auto;
  object-fit: cover;
}
.irTienda{
  position: absolute;
  top: 90px;
  left: 45%;
  right: 55%;
  width: 190px

} 

/*Productos de la tienda*/
.itemList {
  width: 100%;
  justify-items: center;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  min-height: calc(100vh - 306px);
}
.cardProduct{
  height: 500px;
  align-items: center;
  text-align: center;
}
.cardProduct:hover{
  box-shadow: 16px 20px 18px #5a5a5a8c;
}
.tiendaTitle {
  margin-left: 30px;
  padding-top: 110px;
  color: #28587B;
  font-size: 20px ;
  text-align: start;
}

.swal2-toast {
  margin-top: 110px;
  font-size: 18px;
  padding: 10px;
  max-width: 300px;
}

/*Detalle de los productos*/
.prodBody {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 15% 85%;
  grid-template-areas: 'title title title'
                        'img description all';
  padding: 100px 50px 0px 50px;
  min-height: calc(100vh - 150px);
}
.prodTitle {
  color: #28587B;
  font-size: 50px;
  font-weight: 600;
  grid-area: title;
}
.prodImg {
  grid-area: img;
  justify-self: center;
  transform: scale(0.8);
}
.prodDescription {
  color: #28587B;
  font-size: 20px;
  grid-area: description;
  text-align: center;
  justify-self: center;
  margin-top: 40px;
  width: 80%;
}
.prodImgAll {
  grid-area: all;
  justify-self: center;
  align-self: flex-start;
  transform: scale(0.8);
}


/*Carrito*/
.cart{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 84vh;
}
.cartTitle{
  color: #28587B;
  font-size: 30px;
  margin-top: 2%;
  margin-left: 2%;
  align-self: start;
  padding-top: 70px;
}
.cartContainer {
  color: #28587B;
  display: grid;
  grid-template-columns: 10% 30% 30% 30%;
  grid-template-rows: 30% 70%;
  grid-template-areas:  'title title title title'
                        'delete img cant price';
  width: 70%;
  align-items: center;
  justify-self: center;
  border: solid 2px;
  border-radius: 10px;
  margin: 7px;
  padding: 20px 0px 40px 10px;
  min-height: 280px;
  text-align: center;
}
.prodDelete {
  grid-area: delete;
}
.prodNameCart{
  grid-area: title;
}
.prodImgCart{
  grid-area: img;
  width: 160px;
  align-self: center;
  justify-self: center;
}
.prodPrecioCart{
  grid-area: price;
  font-size: 20px;
}
.cantidadContainer{
  grid-area: cant;
  font-size: 20px;
}
.btnCantidad{
  border-radius: 50%;
  margin: 9px;
  height: 40px;
  width: 40px;
}
.cartDetalle{
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.totalCompra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #28587B;
  width: 100%;
  gap: 50px;
}
.btnVaciar{
  height: 40px;
}
.detalleTotal{
  font-size: 25px;
}
.btnEliminar{
  font-size: 15px;
  width: 100px;
}
.finalizarCompra{
  margin: 30px 70px;
}
.finalizarCompra button {
  margin-right: 50px;
  font-size: 30px;
}


/*Compra finalizada*/
.detalleCompra{
  padding-top: 150px;
  color: #28587B;
}

/*Form modal*/
.form-floating{
  margin-top: 10px;
}
.totalModal {
  margin-top: 20px;
}


/* Footer */
.footerContainer {
  background-color: black;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
}
.footerInfo{
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding-left: 15px;
  align-self: end;
  font-size: 13px;
}
.footerUbicacion {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.footerUbicacion img{
  padding-bottom: 20px;
}

.footerRedes{
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 15px;
  max-height: 100px;
  padding-right: 15px;

}
.socialRed{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 7px; 
  cursor: pointer;
}
.socialRed img{
  width: 100%;
  height: 100%;
}
.socialRed:hover{
  background-color:#28587B;
}

/*Final page*/
.pageFinal {
  min-height: 83.9vh;
}

/*Media queries para responsive*/
@media only screen and (max-width:1200px){
  .prodImg, .prodImgAll{
    transform: scale(0.6);
  }

}
@media only screen and (max-width:991px){
  .navbar{
    height: auto;
    padding: 30px 0px;
  }
  #navbarNav{
    justify-content: center;
  }
  .homeTitle, .tiendaTitle{
    padding-top: 140px;
  }
  .cartTitle, .cartVacio {
    padding-top: 110px;
  }
  .itemList {
    grid-template-columns: 50% 50%;
  }
  .prodImg, .prodImgAll{
    transform: scale(0.5);
  }
  .prodDescription{
    font-size: 15px;
  }
  .cartContainer{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 15% 55% 15% 15%;
    grid-template-areas: 'title title'
                          'img cantidad'
                          'delete delete'
                          'precio precio';
    align-content: center;
    text-align: center;
    justify-items: center;
    row-gap: 10px;
    width: 80%;
  }
  .prodNameCart{
    grid-area: title;
  }
  .prodImgCart {
    grid-area: img;
  }
  .cantidadContainer{
    grid-area: cantidad;
  }
  .prodDelete{
    grid-area: delete;
  }
  .prodPrecioCart{
    grid-area: precio;
  }
}
@media only screen and (max-width: 658px){
  .itemList {
    grid-template-columns: 100%;
  }
  .prodImgAll{
    display: none;
  }
  .prodBody{
    grid-template-columns: 95%;
    grid-template-rows: 10% 45% 45%;
    grid-template-areas: 'title'
                          'img'
                          'description';
  }
  .prodTitle{
    grid-area: title;
  }
  .prodImg{
    grid-area: img;
    transform: scale(0.6);
  }
  .prodDescription{
    grid-area: description;
    width: 100%;
  }
  .footerContainer{
    display: flex;
    flex-direction: column-reverse;
    padding: 30px 0px;
    row-gap: 30px;
    width: 100%;
  }
  .totalCompra{
    width: 80%;
  }
  .detalleTotal{
    padding-left: 20px;
    font-size: 18px;
  }
  .finalizarCompra{
    margin: 0px;
  }
  .finalizarCompra button {
    margin-right: 20px;
    font-size: 20px;
    width: 200px;
  }
  .cartTitle{
    margin-top: 50px;
  }
}