#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  min-height: 100vh;
  width: 100%;
  font-family: 'Itim', cursive;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #F1FFFA;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.navbar{
  padding: 40px 0px 25px 0px;
  background-color: #28587B;
  font-family: 'Itim', cursive;
  font-family: 'Ysabeau SC', sans-serif;
}

.logo{
  width: 60px;
}

#navbarNav{
  margin: 0 50%;
} 

.nav-link{
  font-size: 25px;
  color: #F1FFFA;
  margin-right: 45px;
  cursor: pointer;
  font-family: 'Acme', sans-serif;
}

.contador{
  position: relative;
  left: 20px;
}

.itemList {
  width: 100%;
  justify-items: center;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.tiendaTitle {
  margin-top: 30px;
  color: #28587B;
  font-family: 'Acme', sans-serif;
  font-size: 60px ;
}

.swal2-toast {
  font-size: 14px;
  padding: 10px;
  max-width: 250px;
}

.Link {
  text-decoration: none;
}

.prodBody {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 15% 85%;
  grid-template-areas: 'title title title'
                        'img description all';
  padding: 50px;
}
.prodTitle {
  color: #28587B;
  font-size: 50px;
  font-weight: 600;
  grid-area: title;
}

.prodImg {
  grid-area: img;
  justify-self: center;
  scale: 0.8;
}

.prodDescription {
  color: #28587B;
  font-size: 20px;
  grid-area: description;
  text-align: center;
  justify-self: center;
  margin-top: 40px;
  width: 80%;
}

.prodImgAll {
  grid-area: all;
  justify-self: center;
  align-self: flex-start;
  scale: 0.8;
}


@media only screen and (max-width:1200px){
  #navbarNav{
    margin: 0 45%;
  }
  .prodImg, .prodImgAll{
    scale: 0.6;
  }

}
@media only screen and (max-width:991px){
  #navbarNav{
    margin: 0 35%;
  }
  .itemList {
    grid-template-columns: 50% 50%;
  }
  .prodImg, .prodImgAll{
    scale: 0.5;
  }
  .prodDescription{
    font-size: 15px;
  }
}

@media only screen and (max-width: 658px){
  .itemList {
    grid-template-columns: 100%;
  }
  .prodImgAll{
    display: none;
  }
  .prodBody{
    grid-template-columns: 95%;
    grid-template-rows: 10% 45% 45%;
    grid-template-areas: 'title'
                          'img'
                          'description';
  }
  .prodTitle{
    grid-area: title;
  }
  .prodImg{
    grid-area: img;
    scale: 0.6;
  }
  .prodDescription{
    grid-area: description;
    width: 100%;
  }
}