#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  height: 100%;
  width: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #EDF7D2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.header{
  padding: 2rem;
  background-color: #0C1618;
}

.logo{
  width: 60px;
}

#navbarNav{
  margin: 0 57%;
} 
@media only screen and (max-width:1200px){
  #navbarNav{
    margin: 0 45%;
  }
}
@media only screen and (max-width:991px){
  #navbarNav{
    margin: 0 35%;
  }
}

.nav-link{
  font-size: 20px;
  color: #EDF7D2;
  margin-right: 50px;
  cursor: pointer;
}

.main{
  width: 100%;
}

main h1{
  color: #0C1618;
  font-family: 'Ysabeau SC', sans-serif;
  font-size: 60px ;
}

.contador{
  position: absolute;
  bottom: 1px;
}

.itemList {
  width: 100%;
  justify-items: center;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

@media only screen and (max-width: 991px){
  .itemList {
    grid-template-columns: 50% 50%;
  }
}
@media only screen and (max-width: 658px){
  .itemList {
    grid-template-columns: 100%;
  }
}
.stockDisponible {
  display: none;
}

.tiendaTitle {
  margin-top: 30px;
}

.swal2-toast {
  font-size: 14px;
  padding: 10px;
  max-width: 250px;
}